$WHITE: #fff;
$MENU_COLOR: rgb(175, 165, 163);
$MENU_TOP_BORDER: rgb(240, 59, 0);
$MENU_BACKGROUND: rgb(24, 21, 20);
$MENU_LINK: #81736F;
$CONTACT_BUTTON_COLOR: #f03b00;
$GUTTER_PADDING: 4vw;
$MOBILE_PADDING: 15px;

$FOOTER_FONT_COLOR: #AFA5A3;

$MENU_TRANSITION_TIMER: 1s;

