$WHITE: #fff;
$MENU_COLOR: rgb(175, 165, 163);
$CONTACT_BUTTON_COLOR: #f03b00;
$GUTTER_PADDING: 4vw;
$MOBILE_PADDING: 15px;

$FOOTER_FONT_COLOR: #AFA5A3;




%Monteserrat-Headers{
    font-family: 'Montserrat-SemiBold';
    font-size: 28px;
}