.footer{
    left: 0;
    padding: 30px $GUTTER_PADDING;
    width: 100%;
    box-sizing: border-box;
    @include bg-color((90deg, $MENU_BACKGROUND 0%, rgb(45, 40, 38) 100%));
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;    

    &__copyright{
        font-family: 'Monteserrat-Regular';
        font-size: 14px;
        color: $FOOTER_FONT_COLOR;
    }    

    &__contacts{           
        font-family: 'Monteserrat-Regular';
        font-size: 14px;
        color: $FOOTER_FONT_COLOR;     

        a{
            text-decoration: none;
            margin-right: 5px;
        }

        img{
            vertical-align: middle;
        }
    }    
}

@media screen and (max-width: 650px) {
    .footer{
        padding-left: $MOBILE_PADDING;        
        padding-right: $MOBILE_PADDING; 
        display: block;
        text-align: center;   
        
        &__copyright{
            margin-bottom: 30px;               
        }   

        &__contacts{    
            a{
                margin-right: 15px;
            }    
        }   
    }
}
