.l-header {
    top: 0;
    left: 0;
    padding: 0 $GUTTER_PADDING;
    width: 100%;
    @include bg-color((90deg, $MENU_BACKGROUND 0%, rgb(45, 40, 38) 100%));
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;    

    &__contact-image{
        display: none;
    }
}

.l-header__nav{
    display: flex;    
    align-items: center;   

    .hamburger-menu{
        display: none;
        color: $WHITE;
        font-size: 25px;
        
        &__ham{
            text-decoration: none;
            &:visited{
                color: $WHITE;
            }
        }

        &__cross{
            display: none;
            text-decoration: none;
        }
    }
}

.navbar{
    display: flex;
}

.menu-headers {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Montserrat-Medium';
    font-size: 16px;

    >li {
        list-style: none;
        position: relative;
        margin: 0 20px;
        line-height: 70px;

        &:hover {
            .menu-headers__link{
                color: $WHITE;
                &.menu-headers__link--dd::after{
                    border-top: 4px solid $WHITE;
                }
            }
            .menu-headers__menu-items {
                display: flex;
                flex-direction: column;
            }            
        }        

        .menu-headers__link{
            padding: 30px 0;
            text-decoration: none;
            color: $MENU_COLOR;           

            &.menu-headers__link--dd::after {
                content: '';
                border: 4px solid transparent;
                border-top: 4px solid $MENU_COLOR;                
                display: inline-block;
                margin-left: 5px;                
            }
        }
    }

    &__menu-items {
        position: absolute;
        left: -15px;
        width: 200px;
        padding-left: 10px;
        background-color: $MENU_BACKGROUND;
        display: none;
        border-top: solid 5px $MENU_TOP_BORDER;

        >li {
            display: inline-block;
            line-height: 40px;

            >a {
                text-decoration: none;
                color: $MENU_COLOR;
                display: inline-block;
                width: 100%;
            }

            &:hover {
                >a {
                    color: $WHITE;
                }
            }
        }

    }
}

.contact-image{
    display: inline-block;
    vertical-align: middle;
}

.contact-button{    
    border-radius: 20px;
    background-color: $CONTACT_BUTTON_COLOR;
    border: 1px solid transparent;
    text-align: center;
    padding: 5px 15px;
    color: $WHITE;
    display: inline-block;
    font-family: 'Montserrat-Medium';
    font-size: 16px;

    &:hover{
        background-color: lighten($color: $CONTACT_BUTTON_COLOR, $amount: 10%)
    }
}

@media screen and (max-width: 800px) {

    .l-header {       
        padding: 0 $MOBILE_PADDING;
        flex-direction: row-reverse;
        height: 70px;

        &__contact-image{
            display: block;
        }
        
    }
    .l-header__nav{
        
        .hamburger-menu{
            display: block;    

            &__ham,&__cross{
                outline: none;
                &:visited{
                    color: $WHITE;
                }
                &:hover{
                    color: #F03B00;                    
                }
            }

        }

        .menu-headers{          
            
            height: 0px;            
            transition: height $MENU_TRANSITION_TIMER ease-in;
            display: flex;
            position: absolute;
            flex-direction: column;
            left: 0;
            top: 70px;            
            justify-content: flex-start;
            width: 100%;
            background: #2D2826;
            overflow: hidden;     
            z-index: 2;                  

            > li {                    
                position: relative;
                margin: 0;
                width: 100%;
                text-align: left; 

                .menu-headers__link.menu-headers--dd, .menu-headers__link{                        
                    padding: 0;
                    width: 100%;
                    padding-left: 15px;
                    display: inline-block;
                    outline: none;                    
    
                    &::after {                             
                        float: right;
                        right: 15px;
                        position: relative;
                        top: 31px;
                        transform: rotate(-90deg); 
                        transition: transform 1s;                 
                    }
                }    
               
            }

            // for opened hamburger menu
            &.menu-headers--open{                                
                transition: height $MENU_TRANSITION_TIMER ease-in;
                height: 100vh;
                
            }
            &__link.menu-headers__link--dd.menu-headers__link--rotated-open{
                color: $WHITE;
                &::after {       
                    transform: rotate(0deg);                  
                    transition: transform 1s;
                }
            }

            &__menu-items {
                position: relative;
                left: 0;
                width: 100%;
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                height: 0;
                overflow: hidden;
                border-top: none;     
                background: #181514;     
                
                
                &.menu-headers__menu-items--open{
                    height: auto;
                    border-top: solid 5px $MENU_TOP_BORDER;
                    >li {                        
                        >a {
                            display: inline-block;
                            width: 100%;                            
                        }

                        &:first-child{
                            >a{
                                padding-top: 10px;
                            }
                        }

                        &:last-child{
                            >a{
                                padding-bottom: 10px;
                            }
                        }
                    }

                }
        
                
        
            }

        }
        .contact-button{
            display: none;
        }
    }
}