<footer class="footer">
    <div class="footer__copyright">
        &copy; 2017 Company. All Rights Reserved.
    </div>
    <div class="footer__contacts">
        Follow us on:&nbsp;
        <a href="https://www.fb.com" target="_blank"><img src="images/fb.png" alt=""></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="images/linkedin.png" alt=""></a>
        <a href="https://www.twitter.com" target="_blank"><img src="images/twitter.png" alt=""></a>
        <a href="https://www.mail.com" target="_blank"><img src="images/mail.png" alt=""></a>
    </div>
</footer>