<header class="l-header">
    <div class="l-header__contact-image">
        <a href="#">
            <img src="images/chat.png" alt="" class="contact-image">
        </a>
    </div>
    <div class="company-logo">
        <a href="#">
            <img src="images/company_logo.png" alt="">
        </a>
    </div>
    <div class="l-nav">
        <div class="hamburger-menu">
            <a class="hamburger-menu__ham" href="#">&#9776;</a>
            <a class="hamburger-menu__cross" href="#">&#735;</a>                    
        </div>
        <nav>           
            <ul class="menu-headers">
                <li>
                    <a href="#" class="menu-headers__link menu-headers__link--dd">About</a>
                    <ul class="menu-headers__menu-items">
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Why Company</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-headers__link menu-headers__link--dd">Services</a>
                    <ul class="menu-headers__menu-items">
                        <li><a href="#">Staffing</a></li>
                        <li><a href="#">Delivery Support</a></li>
                        <li><a href="#">Project Management</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-headers__link menu-headers__link--dd">Solutions</a>
                    <ul class="menu-headers__menu-items">
                        <li><a href="#">CMS Solutions</a></li>
                        <li><a href="#">DevOps</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Quality Assurance</a></li>
                    </ul>
                </li>
                <li><a href="#" class="menu-headers__link">Blog</a></li>
            </ul>
        </nav>
        <button class="contact-button">
            <img src="images/chat.png" alt="" class="contact-image">
            Get in Touch
        </button>
    </div>
</header>