<section class="l-landing">
    <div class="l-landing__wrap">
        <div class="landing-heading">
            Integer bibendum sit amet arcu vel egestas.
        </div>
        <div class="l-service-tab">
            <div class="service-tab">
                <img src="images/service-1.png" alt="" class="service-tab__image">
                <span class="service-tab__label">Service Name</span>
            </div>
            <div class="service-tab">
                <img src="images/service-2.png" alt="" class="service-tab__image">
                <span class="service-tab__label">Service Name</span>
            </div>
            <div class="service-tab">
                <img src="images/service-3.png" alt="" class="service-tab__image">
                <span class="service-tab__label">Service Name</span>
            </div>
        </div>
        <div class="scroll-down">
            <a href="#" class="scroll_down__element">
                Scroll Down &nbsp;<i></i>
            </a>            
        </div>
    </div>
</section>
