<section class="l-success">
    <div class="success-header">
        <h2 class="success-header__heading">Our Success Stories</h2>
        <span class="success-header__desc">Here are some of the greatest works from our arsenal</span>
    </div>
    <div class="success-stories">
        <div class="success-story">
            <div class="success-story__figure"></div>
            <p class="success-story__desc">
                Mauris at quam at mauris venenatis eleifend eleifend odio a pre
            </p>
            <span class="success-story__category">
                Service / Solution Name
            </span>
        </div>
        <div class="success-story">
            <div class="success-story__figure"></div>
            <p class="success-story__desc">
                Proin dapibus sollicitudin iaculis
            </p>
            <span class="success-story__category">
                Service / Solution Name
            </span>
        </div>
        <div class="success-story">
            <div class="success-story__figure"></div>
            <p class="success-story__desc">
                Nullam fermentum interdum volutpat
            </p>
            <span class="success-story__category">
                Service / Solution Name
            </span>
        </div>
        <div class="success-story">
            <div class="success-story__figure"></div>
            <p class="success-story__desc">
                Ut fringilla ultricies felis eget interdum
            </p>
            <span class="success-story__category">
                Service / Solution Name
            </span>
        </div>
    </div>


</section>
