<section class="l-testimonials">
    <div class="success-header">
        <h2 class="success-header__heading">Our Success Stories</h2>

    </div>
    <div class="carousel-container">
        <div class="carousel-slide">
            <div class="triangle-wrap" id="last-clone">
                <div class="triangle-obtuse">
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                        
                        <div class="client-comp">Position, ORG</div>                    
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. 
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap">
                <div class="triangle-obtuse">
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">                         
                        <div class="client-name">CLIENT NAME</div>                         
                        <div class="client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="triangle-wrap" id="first-clone">
                <div class="triangle-obtuse">
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.
                </div>
                <div class="client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="client-loc">
                        <div class="client-name">CLIENT NAME</div>
                        <div class="client-comp">Position, ORG</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="prevBtn"><img src="images/left-arrow.png" alt=""></a>
    <a href="#" id="nextBtn"><img src="images/right-arrow.png" alt=""></a>

</section>