<section class="l-testimonials">
    <div class="testimonials-header">
        <div class="testimonials-header__heading">Testimonials</div>
    </div>
    <div class="testimonial-container">
        <div class="testimonial-container__slider">
            <div class="testimonial" id="last-clone">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                        
                        <div class="testimonial__client-comp">Position, ORG</div>                    
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam. 
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Nunc ut ipsum iaculis, dictum magna id, lacinia ante. Nulla facilisi. Integer lobortis in risus eget volutpat. Donec interdum elit eget quam aliquam sodales. Vestibulum auctor auctor finibus.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet. In maximus euismod egestas.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">                         
                        <div class="testimonial__client-name">CLIENT NAME</div>                         
                        <div class="testimonial__client-comp">Position, ORG</div>                     
                    </div> 
                </div>
            </div>
            <div class="testimonial" id="first-clone">
                <div class="testimonial__text">
                    <img src="images/apostrophe.png" alt="'"> 
                    Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.
                </div>
                <div class="testimonial__client-details">
                    <img src="images/testimonial.png" alt="">
                    <div class="testimonial__client-loc">
                        <div class="testimonial__client-name">CLIENT NAME</div>
                        <div class="testimonial__client-comp">Position, ORG</div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="prev-btn"><img src="images/left-arrow.png" alt=""></a>
    <a href="#" id="next-btn"><img src="images/right-arrow.png" alt=""></a>

</section>