<section class="l-workwithus">
    <div class="work-wrap">
        <div class="work-header">
            <h2 class="work-header__title">Convinced To Work With Us?</h2>
            <span class="work-header__desc">
                Company has helped agencies keep their promises to clients since 2005.
            </span>
        </div>
        <div class="contact-form-container">
            <form>
                <div class="contact-form">
                    <input type="text" placeholder="Fullname" class="contact-form__name">
                    <input type="email" placeholder="Email Address" class="contact-form__email">
                    <input type="tel" placeholder="Phone Number" class="contact-form__phone">
                    <textarea placeholder="Message in brief" class="contact-form__message"></textarea>                    
                    <button type="submit" class="contact-button contact-form__submit">Submit</button>
                </div>                
            </form>
        </div>
    </div>
</section>